<!DOCTYPE html>
html(lang="tw")
	head
		include include/head
		title #{name}
		+lnkCss('common/layout.css')
	body
		include include/mixin
		include include/header
		h1 this is a test
		+lnkScripEnd('custom.js')


		


